<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A lightweight pastebin written in node.js">
    <meta name="author" content="Petro Podrezo">
	{{? typeof(it.post) !== 'undefined' && it.post.hidden}}
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>
	{{?}}
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title>pastebin.js</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
	<link href="/css/syntax.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">pastebin.js</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li{{?it.menuActiveSubmit}} class="active"{{?}}><a href="/">Submit</a></li>
              <li class="dropdown">
                <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Recent Posts <b class="caret"></b></a>
                <ul class="dropdown-menu">
					{{~it.recentPosts : p }}
					<li><a href="/p/{{=p._id}}">{{=p.title}} <span class="label label-primary">{{=p.language}}</span></a></li>
					{{~}}
					<!--li class="divider"></li>
					<li class="dropdown-header">Nav header</li-->
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      {{=it.body}}
	</div>
	
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a href="https://github.com/podrezo/pastebinjs">pastebin.js</a>, created by <a href="http://podrezo.com/">Petro Podrezo</a>. Big thanks to the folks at <a href="/http://getbootstrap.com">Twitter Bootstrap</a>.</p>
      </div>
    </div>


    <!-- JavaScript
    ================================================== -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script>$('#inputLang').val('{{?typeof(it.post) !== 'undefined'}}{{=it.post.language}}{{??true}}text{{?}}');</script>
  </body>
</html>
{{##def.newpostform:
	<form role="form" action="/" method="POST">
		<div class="form-group">
			<label for="inputTitle" class="control-label">Post Title</label>
			<input name="title" id="inputTitle" autocomplete="off" maxlength="{{=it.config.postRestrictions.titleLength}}" class="form-control" placeholder="Untitled Post"{{?typeof(it.post) !== 'undefined' && it.post.title != null}} value="{{=it.post.title}}"{{?}}/>
		</div>
		<div class="form-group">
			<label for="inputPaste" class="control-label">Paste (max. {{=it.config.postRestrictions.pasteLength}} bytes)</label>
			<textarea id="inputPaste" maxlength="{{=it.config.postRestrictions.pasteLength}}" class="form-control" name="paste" rows="15" style="font-family:monospace;">{{?typeof(it.post) !== 'undefined'}}{{=it.post.paste}}{{?}}</textarea>
		</div>
		<div class="form-group">
			<label for="inputLang" class="control-label">Source Language</label>
			<select name="lang" id="inputLang" class="form-control">
				{{~it.languages : lang : index}}
				<option value="{{=lang.alias}}">{{=lang.name}}</option>
				{{~}}
			</select>
		</div>
		<div class="form-group">
			<label for="inputExpiry" class="control-label">Expiry Time</label>
			<select name="expiry" id="inputExpiry" class="form-control">
				<option value="0">Never</option>
				<option value="5">5 Minutes</option>
				<option value="30">30 Minutes</option>
				<option value="60">1 Hour</option>
				<option value="480">8 Hours</option>
				<option value="1440">1 Day</option>
				<option value="20160">2 Weeks</option>
			</select>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="hidden"{{?typeof(it.post) !== 'undefined' && it.post.hidden}} checked="checked"{{?}}/> Make this post hidden (tell search engines not to crawl it, hide it from 'recent posts')
				</label>
			</div>
		</div>
		<div class="form-group text-right">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Submit</button>
		</div>
	</form>
#}}