<div class="container">
	{{?typeof(it.deletepassword) !== 'undefined'}}
	<div class="alert alert-success" style="margin-top: 2em;">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Post is live!</strong> The post was successfully added to our database. If you need to delete it, please use the following password: <code class="lead">{{=it.deletepassword}}</code>
	</div>
	{{?}}
	<div class="page-header">
		<h1>{{?it.post.title == null}}Untitled Post{{??true}}{{=it.post.title}}{{?}} <small>{{=it.post.date}}</small></h1>
	</div>
	
	{{=it.post.html}}
	
	<div class="text-right">
		<a class="btn btn-default" href="/dl/{{=it.post._id}}"><span class="glyphicon glyphicon-download"></span> Download this paste</a>
	</div>
	
	<hr style="margin: 1.5em 0 5em 0;"/>
	<div class="well">
		<h2>Update Post</h2>
		{{#def.newpostform}}
	</div>
	
	<div class="well">
		<h2>Delete Post</h2>
		<form action="/delete/{{=it.post._id}}" method="POST" role="form">
			<div class="form-group">
				<label for="inputPassword">Enter the password to delete the post</label>
				<input name="deletepassword" type="text" class="form-control" id="inputPassword" placeholder="This was provided when you created your post">
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Delete Post</button
			</div>
		</form>
	</div>
</div>