<div class="page-header">
		<h1>About PasteBin.JS</h1>
</div>

<p class="lead">&ldquo;A <em>pastebin</em> is a type of web application where anyone can store plain text. They are most commonly used to share short source code snippets for code review via Internet Relay Chat.&rdquo; - <a href="http://en.wikipedia.org/wiki/Pastebin" target="_blank">Wikipedia</a></p>

<p>The pastebin.js application was created by <a href="http://podrezo.com/" target="_blank">Petro Podrezo</a>. It is open source under the MIT license which means you can download and host your own by going to <a href="https://github.com/podrezo/pastebinjs">GitHub</a> and cloning yourself a copy. So why choose PasteBin.JS? PasteBin.JS has been designed with many significant improvements in mind over traditional pastebin websites.</p>

<h3>Elegant, modern user interface</h3>
<p>We're using the currently latest version of <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> along with <a href="http://www.angularjs.org/ target="_blank">Angular.JS</a> to bring you the most responsive and intuitive interface possible. We include a <a href="http://codemirror.net/" target="_blank">CodeMirror</a> text editor for both viewing and editing code allowing you to have full color syntax highlighting even as you're updating a paste.</p>

<h3>Fully documented REST API</h3>
<p>Swing over to our <a href="/static/docs" target="_self">API docs</a> and you will see how easy it is to tie in your application with a pastebin backend. If you're a developer, you can use this to make posts to pastebin from your mobile app, the command line, or even your toaster.</p>

<h3>Fully Free &amp; Open Source</h3>
<p>The application is made available with an <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a> meaning that you can basically do whatever you want* with it. Change it, mold it to be your own, and run it on whatever systems you like. Please note that certain components of the pastebin application may be under different licenses.
<p>* Please don't use it for evil :)</p>