<div class="alert alert-success" style="margin-top: 2em;" ng-hide="!deletePassword">
	<button class="close" data-dismiss="alert" type=
	"button">&times;</button> <strong>Post is live!</strong> The
	post was successfully added to our database. If you need to
	delete it, please use the following password: <code class=
	"lead">{{deletePassword}}</code>
</div>


<div id="postContent" ng-hide="!postId">
	<div class="page-header">
		<h1>{{postData.title}} <small>{{postData.createdAt}}</small></h1>
	</div>
	
	POST HTML HERE

	<div class="text-right">
		<a class="btn btn-default" href="/api/post/{{postId}}/download"><span class="glyphicon glyphicon-download"></span> Download this paste</a>
	</div>
	<hr style="margin: 1.5em 0 5em 0;">
</div>

<div class="well">
	<h2>{{ postId ? 'Update' : 'New' }} Post</h2>

	<form action="/" method="post">
		<div class="form-group">
			<label class="control-label" for="inputTitle">Post Title ({{newPost.title.length}}/{{config.postRestrictions.titleLength}} characters)</label> 
			<input autocomplete="off" class="form-control" id="inputTitle" maxlength="{{config.postRestrictions.titleLength}}" name="title" placeholder="Untitled Post" ng-model="newPost.title">
		</div>

		<div class="form-group">
			<label class="control-label" for="inputPaste">Paste (max. {{config.postRestrictions.pasteLength}} bytes)</label> 
			<textarea class="form-control" id="inputPaste" maxlength="{{config.postRestrictions.pasteLength}}" name="paste" rows="15" style="font-family:monospace;" ng-model="newPost.paste"></textarea>
		</div>

		<div class="form-group">
			<label class="control-label" for="inputLang">Source Language</label>
			<select class="form-control" id="inputLang" name="lang" ng-model="newPost.language" ng-options="item.alias as item.name for item in config.supportedLanguages"></select>
		</div>

		<div class="form-group">
			<label class="control-label" for="inputExpiry">Expiry Time</label>
			<select class="form-control" id="inputExpiry" name="expiry" ng-model="newPost.expiry" ng-options="item.time as item.label for item in config.supportedExpiryTimes"></select>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label><input name="hidden" type="checkbox" ng-checked="{{newPost.hidden}}"> Make this post hidden (tell search engines not to crawl it, hide it from 'recent posts')</label>
			</div>
		</div>

		<div class="form-group text-right">
			<button class="btn btn-primary btn-lg" type="submit"><span class="glyphicon glyphicon-upload"></span> Submit</button>
		</div>
	</form>
</div>

<div class="well" ng-hide="!postId">
	<h2>Delete Post</h2>

	<form action="/" method="post">
		<div class="form-group">
			<label for="inputPassword">Enter the password to delete the post</label>
			<input class="form-control" id="inputPassword" name="deletepassword" placeholder="This was provided when you created your post" type="text">
		</div>

		<div class="text-right">
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete Post</button>
		</div>
	</form>
</div>