<div class="alert alert-success" style="margin-top: 2em;" ng-hide="!deletePassword">
	<button class="close" data-dismiss="alert" type=
	"button">&times;</button> <strong>Post is live!</strong> The
	post was successfully added to our database. If you need to
	delete it, please use the following password: <code class=
	"lead">{{deletePassword}}</code>
</div>

<div class="alert alert-success" style="margin-top: 2em;" ng-hide="!finishedDeletingPost">
	<button class="close" data-dismiss="alert" type="button">&times;</button> <strong><span class="glyphicon glyphicon-trash"></span> Post has been deleted!</strong>
</div>

<div id="postContent">
	<form>
		<div class="page-header" ng-hide="editMode">
			<h1>{{postData.title}} <small title="{{postData.createdAt}}">{{postedTimeAgo}} ago</small></h1>
		</div>
		
		<div class="page-header" ng-show="editMode">
			<h1>New Post</h1>
		</div>
		
		<div class="form-group" ng-show="editMode">
			<label class="control-label" for="inputTitle">Post Title ({{newPost.title.length}}/{{config.postRestrictions.titleLength}} characters)</label> 
			<input autocomplete="off" class="form-control" id="inputTitle" maxlength="{{config.postRestrictions.titleLength}}" name="title" placeholder="Untitled Post" ng-model="newPost.title">
		</div>
		
		<div class="form-group">
			<label ng-show="editMode" class="control-label" for="inputPaste">Post Content (max. {{config.postRestrictions.pasteLength}} bytes)</label> 
			<textarea id="inputPaste" maxlength="{{config.postRestrictions.pasteLength}}" ui-codemirror ui-codemirror-opts="editorOptions" ng-model="newPost.paste"></textarea>
		</div>
		
		<div class="row">
			<div class="form-group col-md-4" ng-show="editMode">
				<label class="control-label" for="inputLang">
					Source Language
				</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-file"></span></div>
					<select class="form-control" id="inputLang" name="lang" ng-model="newPost.language"
					  ng-change="handleSelectedLanguageChanged()" ng-options="item.name as item.name for item in config.supportedLanguages"></select>
				</div>
			</div>

			<div class="form-group col-md-4" ng-show="editMode">
				<label class="control-label" for="inputExpiry">
					Expiry Time
				</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
					<select class="form-control" id="inputExpiry" name="expiry" ng-model="newPost.expiry" ng-options="item.time as item.label for item in config.supportedExpiryTimes"></select>
				</div>
			</div>

			<div class="form-group col-md-4" ng-show="editMode">
				<label class="control-label" for="inputExpiry">
					Visibility
				</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
					<select class="form-control" id="inputExpiry" name="expiry" ng-model="newPost.visibility">
						<option value="public">Public - Will appear in 'Recent Posts'</option>
						<option value="private">Private - Will not appear in 'Recent Posts'</option>
					</select>
				</div>
			</div>
		</div>

		<!-- buttons row -->
		<div class="text-right" style="margin: 1.5em 0 5em 0;">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
				<span class="glyphicon glyphicon-trash"></span> Delete
			</button>
			<button type="button" class="btn btn-default" ng-click="enterEditMode()" ng-hide="editMode">
				<span class="glyphicon glyphicon-edit"></span> Update
			</button>
			<a class="btn btn-default" href="/api/post/{{postId}}/download" download="{{fileName}}" target="_self" ng-hide="editMode">
				<span class="glyphicon glyphicon-download"></span> Download
			</a>
			<button type="button" class="btn btn-primary" ng-click="submitPost()" ng-disabled="isCurrentlyProcessing" ng-show="editMode">
				<span class="glyphicon glyphicon-upload"></span> Create Post
			</button>
		</div>
	</form>
</div>

<!-- Modal Dialog for Delete Functionality -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete Post</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
			<label for="inputPassword">Enter the password to delete the post</label>
			<input class="form-control" id="inputPassword" name="deletepassword" ng-value="deletePassword" placeholder="This was provided when you created your post" type="text">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-danger btn-lg" ng-click="deletePost()"><span class="glyphicon glyphicon-trash"></span> Delete Post</button>
      </div>
    </div>
  </div>
</div>