<div class="alert alert-success" style="margin-top: 2em;" ng-hide="!deletePassword">
	<button class="close" data-dismiss="alert" type=
	"button">&times;</button> <strong>Post is live!</strong> The
	post was successfully added to our database. If you need to
	delete it, please use the following password: <code class=
	"lead">{{deletePassword}}</code>
</div>


<div id="postContent" ng-hide="!postId">
	<div class="page-header">
		<h1>Untitled Post <small>datehere</small></h1>
	</div>
	
	POST HTML HERE

	<div class="text-right">
		<a class="btn btn-default" href="/dl/{{postId}}"><span class="glyphicon glyphicon-download"></span> Download this paste</a>
	</div>
	<hr style="margin: 1.5em 0 5em 0;">
</div>

<div class="well">
	<h2>{{ postId ? 'Update' : 'New' }} Post</h2>

	<form action="/" method="post">
		<div class="form-group">
			<label class="control-label" for="inputTitle">Post
			Title</label> <input autocomplete="off" class=
			"form-control" id="inputTitle" maxlength=
			"{{config.postRestrictions.titleLength}}" name=
			"title" placeholder="Untitled Post" value=
			"{{postTitle}}">
		</div>

		<div class="form-group">
			<label class="control-label" for="inputPaste">Paste
			(max. {{config.postRestrictions.pasteLength}}
			bytes)</label> 
			<textarea class="form-control" id="inputPaste"
			maxlength="{{config.postRestrictions.pasteLength}}"
			name="paste" rows="15" style="font-family:monospace;">{{postData}}</textarea>
		</div>

		<div class="form-group">
			<label class="control-label" for="inputLang">Source Language</label>
			<select class="form-control" id="inputLang" name="lang">
				<option ng-repeat="language in languages" value="{{language.alias}}">{{language.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label" for="inputExpiry">ExpiryTime</label>
			<select class="form-control" id="inputExpiry" name="expiry">
				<option value="0">
					Never
				</option>

				<option value="5">
					5 Minutes
				</option>

				<option value="30">
					30 Minutes
				</option>

				<option value="60">
					1 Hour
				</option>

				<option value="480">
					8 Hours
				</option>

				<option value="1440">
					1 Day
				</option>

				<option value="20160">
					2 Weeks
				</option>
			</select>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label><input checked="checked" name="hidden" type=
				"checkbox"> Make this post hidden (tell search
				engines not to crawl it, hide it from 'recent
				posts')</label>
			</div>
		</div>

		<div class="form-group text-right">
			<button class="btn btn-primary" type=
			"submit"><span class=
			"glyphicon glyphicon-upload"></span> Submit</button>
		</div>
	</form>
</div>

<div class="well" ng-hide="!postId">
	<h2>Delete Post</h2>

	<form action="/" method="post">
		<div class="form-group">
			<label for="inputPassword">Enter the password to delete the post</label>
			<input class="form-control" id="inputPassword" name="deletepassword" placeholder="This was provided when you created your post" type="text">
		</div>

		<div class="text-right">
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete Post</button>
		</div>
	</form>
</div>